body, .navegacion{
    background-color: #203541;
    

}

*{
    color:#EEEEEE;
    font-family: 'Raleway','Roboto Condensed', sans-serif;
}
.back-color{
    background-color: #374955
}

hr{
    border-color: #ffd933;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff;
    background-color: #f62a66;
}

a {
    color: #f62a66;
    text-decoration: none;
    background-color: transparent;
}

a:hover{
    color: #EEEEEE
}

button{
    background-color: #ffd933;
    color: #203541;
    font-weight: 900;
}

.container{
    background-color: #374955;
}

h1, h2{
    font-family: 'Patua One', 'Roboto Condensed', sans-serif;
}